.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 50px;
  text-align: center;
}

.container > * {
  flex-basis: 50%;
  margin-right: 10px;
  margin-bottom: 10px;
}
