body {
	background-color: #f4f4f4;
	font-family: Arial, sans-serif;
}

h1 {
	color: #333;
	text-align: center;
	margin-top: 50px;
}

form {
	background-color: #fff;
	border: 1px solid #ddd;
	padding: 20px;
	max-width: 500px;
	margin: 0 auto;
}

label {
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
	color: #333;
}

input[type="text"],
input[type="email"],
input[type="datetime-local"] {
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 3px;
	width: 100%;
	margin-bottom: 20px;
	font-size: 16px;
}

input[type="submit"] {
	background-color: #4CAF50;
	color: #fff;
	border: none;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #444;
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}